.breadcrumbs {
    color: #ffffff;
    margin: 19px 0;
    &__category {
        float: right;
        a {
            font-weight: bold;
            text-decoration: none;

            &:not(:first-child):before {
                display: inline-block;
                content: "\002F";
                margin: 0 5px 0 3px;
            }
        }

    }
}
